@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// If you want to override variables do it here
@import 'variables';

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '@coreui/chartjs/scss/coreui-chartjs';

@import 'layout';
@import 'example';

// If you want to add custom CSS you can put it here.

@import 'config';
@import 'custom';
@import 'customization';

@import 'components/buttons';
@import 'components/drawer';
@import 'components/modal';

@import 'layout/_dashboard';

@import '_utilities';

body::-webkit-scrollbar {
  width: 5px;
}
